.navbar {
  height: 60px;
  margin: 0;
  background-color: #101010;
  position: relative;
}

.user-icon {
  color: #fff;
  height: 30px;
  width: 30px;
  background: rgb(89, 81, 81);
  border-radius: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: capitalize;
}

.navbar .username {
  color: #fff;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 10px;
  color: #fff;
}

.navbar > div {
  justify-content: space-between;
  align-items: center;
}

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  cursor: pointer;
}
